body {
	font-family: 'Open Sans Condensed', sans-serif !important;
	color: #e5e5e5;
	font-size: 16px;
	background: #fff;
	line-height: 1;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
	margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}
.container-menu {
	margin: 10px auto;
	display: table;
	max-width: 1140px;
	width: 100%;
}
.container-menu:after, .container-menu:before {
	content: "" clear : both;
}

nav.footer {
	background: #fff;
	position: relative;
	min-height: 25px;
	height: 100%;
	border-top: 3px solid #d9ced2
}

nav.menu {
	background: #fff;
	position: relative;
	min-height: 45px;
	height: 100%;
	border-bottom: 3px solid #d9ced2
}

.menu ul {
	margin-bottom: 0px;
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: #747474;
	display:block;
	padding: 0px 23.5px;
}
.menu > ul li a:hover {
	background:#326733;
	color: #fff;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.displaynone{
	display: none;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  padding: 3px 6px;
	display: block;
	border-bottom:1px solid #fff;
	box-shadow: 0 1px 2px #e5e5e5;
	-webkit-box-shadow: 0 1px 2px #e5e5e5;
	-moz-box-shadow: 0 1px 2px #e5e5e5;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #fff;
background: #FF7F50;

}
.xs-menu  a{
text-decoration:none;
}

ul li.has-sub {
  position: relative;
}

ul li.has-sub:hover ul {
  display: inline-block;
  border: 1px solid #d9ced2;
  min-width: 195px;
}

ul li.has-sub ul {
  display: none;
  width: 175px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #fff;
  border-top: 0 none;
}

ul li.has-sub ul li {
  display: block;
}

ul li.has-sub > a {
  background-repeat: no-repeat;
  background-position: 90% -95%;
  font-weight: normal;
}

ul li.has-sub > a.active,
ul li.has-sub > a:hover {
  background-position: 90% 195%;
  font-weight: normal;
}

#menutoggle i {
    color: #747474;
    font-size: 33px;
    margin: 0;
    padding: 0;
}

/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}
.mm-6column, .mm-3column {
 float: left;
 position: relative;
 }
.mm-6column {
    width: 50%;
}
.mm-3column {
        width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;

}
.left-images{
margin-right:25px;
}
 .left-images, .left-categories-list {
   float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover{
		background:inherit !important;
}
.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mm-view-more{
	background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
	margin-top:10px;
}
.display-on{
display:block;
 transition-duration: 0.9s;
}

.logo-m {
	display: none;
}

.center {
	text-align: center;
}

.container p {
	font-size: 20px;
	margin: 20px 0 20px 0;
}

.mgt {
	margin-top: 40px !important;
}

.nmt {
	margin-top: 0px !important;
}

#map { /* Carte Google Maps */
  height: 250px;
  width: 250px;
  z-index: 2;
}

#f1{
  border-width: 2px;
  border-style: solid;
	border-color: #d9ced2;
  width: 274px;
  float: right;
  padding: 10px;
  z-index: 2;
}

.info {
}

 /*MediaQuerys*/
 @media (max-width: 1140px) {
	.menu {
 		display:none;
 	}

 .xs-menu li a {
		padding:0px;
	}

 	.xs-menu-cont{
 		display:block ;
 	}

 	.logo {
 		display: none;
 	}

 	.logo-m {
 		display: inline;
    margin-top: 20px;
 	}

 	#f1 {
 		float: none;
 		margin-left: auto;
 		margin-right: auto;
 	}

 	.container-menu {
 		margin-top: 0px;
 	}
}


/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* Accordion */

.accordion {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 20px auto;
  float: left;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
  font-weight: normal;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-weight: normal;
}

.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 170px;
  font-weight: normal;
}

.accordion ul li div a p {
  top: 170px;
  font-size: 17px;
  font-weight: normal;
}

.accordion ul li:nth-child(1) {
  background-image: url("images/accordion1.jpg");
}

.accordion ul li:nth-child(2) {
  background-image: url("images/accordion2.jpg");
}

.accordion ul li:nth-child(3) {
  background-image: url("images/accordion3.jpg");
}

.accordion ul li:nth-child(4) {
  background-image: url("images/accordion4.jpg");
}

.accordion ul li:nth-child(5) {
  background-image: url("images/accordion5.jpg");
}

.accordion ul li:nth-child(6) {
  background-image: url("images/accordion6.jpg");
}

.accordion ul:hover li {
  width: 8%;
}

.accordion ul:hover li:hover {
  width: 60%;
}

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li:hover a {
  background:rgba(0,0,0,.4);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}